@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,260;1,14..32,260&display=swap');

*{
    font-family: "inter";
    padding: 0px;
    margin: 0px;
}

main{ 
    display: flex;
    justify-content: space-between;
    margin-top: 11%;
}

footer{
    background-color: #ff914d;
    padding: 30px;
    margin-top: 67px;
}

ul{
    list-style: none;
}

ul a li img{
    width: 26px;
    float: inline-start;
    margin-right: 10px;
}

ul a li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav img{
    width: 55px;
}

span h1{
    margin-top: 12px;
}

#logo{
    display: flex;
    margin-top: 2%;
    margin-left: 100px;
    background: linear-gradient(to right, #00ccd5 15%, #b668de 45%, #ff8427 99%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    pointer-events: none;
}

#bottom-bar{
    background-color: rgb(224, 224, 224);
    padding: 25px;
}

#bottom-bar-fun{
    background-color: rgb(224, 224, 224);
    padding: 3px;
}

#cabecalho-elements{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

#background{
    width: 100%;
    height: 115vh 0;
    padding: 100px 0;
    margin-top: -100px;
    background-size: cover;
}

#nav-end{
    display: flex;
    flex-direction: row;
    width: 20%;
    margin-top: 2%;
    margin-right: 100px;
    justify-content: space-evenly;
}

.no-poiter{
    pointer-events: none;
}

.config-layout{
    display: flex;
    justify-content: none;
}

.img-gw{
    width: 120px;
    display: inline-block;
}

.info-conta{
    display: inline-block;
}

.side-bar{
    background-color: rgb(238, 238, 238); 
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    padding: 15px;
    font-size: 20px;
    padding-bottom: 28%;
}

.sidebar-item{
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
}

.sidebar-item:hover{
    background-color: #ff914d;
    font-size: 22px;
}

.conta{
    background-color: rgb(238, 238, 238);
    padding: 30px;
    width: 63%;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 7%;
    margin-bottom: 7%;
}

.background-system{
    background-color: rgb(238, 238, 238);
}

.larg-ocor{
    padding-right: 650px;
}

.titulo-danger{
    background-color: rgb(255, 100, 100);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2%;
}

.ocorrencia-danger{
    background-color: rgb(255, 193, 193);
    padding: 3%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.titulo-safe{
    background-color: rgb(8, 94, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2%;
    
}

.ocorrencia-safe{
    background-color: rgb(193, 220, 255);
    padding: 3%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.paragrafo{
    font-size: 20px;
}

.text-center{
    text-align: center;
}

.mb-5p{
    margin-bottom: 5%;
}

.mb-3{
    margin-bottom: 30px;
}

.mb-2{
    margin-bottom: 20px;
}

.mb-1{
    margin-bottom: 10px;
}

.mr-1{
    margin-right: 10px;
}

.mr-2{
    margin-right: 20px;
}

.ml-1{
    margin-left: 10px;
}

.ml-2{
    margin-left: 20px;
}

.ml-4{
    margin-left: 80px;
}

.ml-6{
    margin-left:150px;
}

.mt-1{
    margin-top: 10px;
}

.mt-2{
    margin-top: 20px;
}

.mt-5p{
    margin-top: 5%;
}

.pg{
    font-size: 22px;
}

.size-prof{
    width: 46px;
}

.border-rl{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.local-ocorrencia{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    border-radius: 10px;
}

.img-nav{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-right: 150px;
    justify-content: space-evenly;
}

.flex-line{
    display: flex;
    
}

.flex-around{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-self: self-start;
}

.flex-coluna{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex-start{
    display: flex;
    justify-self: flex-start;
}

.flex-final{
    display: flex;
    justify-self: flex-end;
}

.form-login{
    padding: 10px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}

.flex-self-start{
    justify-content: flex-start;
}

.flex-self-end{
    justify-self: flex-end;
}

.login-popup{
    z-index: 1;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
    padding: 30px;
    height: 350px;
    border-radius: 20px;
    margin-left: 33%;
    margin-top: 11%;
}

.has-shadow{
    box-shadow: 2px 2px 15px black;
}

.btn-danger{
    background-color: #ff914d;
    width: 90px;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    float: none;
}

.btn-safe{
    background-color: #399dce;
    width: 90px;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
}

.btn-safe-conta{
    background-color: #399dce;
    width: 110px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.btn-danger-conta{
    background-color: #ff914d;
    width: 110px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    float: none;
}

.btn-safe-login{
    background-color: #399dce;
    width: 90px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    float: inline-end;
    margin-top: 20px;
}

.img-exem{
    width: 600px;
    margin-top: -65px;
    margin-right: 70px;
    float: inline-end;
    transform: rotate(1deg);
    border-radius: 10px;
}

.tex-lateral{
    margin-left: 6%;
    margin-right: 40%;
}

.img-lateral {
    width: 10%;
    margin-right: 10px;
}

.link-normal {
    text-decoration: underline;
    color: #399dce;
    justify-content: flex-end;
}

.link-line {
    text-decoration: none;
    color: #399dce;
    justify-content: flex-end;
}

.perfil {
    width: 105px;
}

.colunas {
    margin-top: -100px;
    display: flex;
}

.aluno-perfil-popup {
    background-color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
}

.aluno-acoes-popup {
    background-color: rgb(224, 224, 224);
    text-align: center;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 150px;
    z-index: -1;
}

.add-btn{
    width: 40px;
    margin-left: 65px;
}

.color-box{
    background-color: rgb(224, 224, 224);

}

.switch{
    background-color: #ffffff;
    padding: 4px;
    border-radius: 10px;
}

.top-side{
    padding: 15px;
}

.body-side{
    padding: 20px;
}

.big-box{
    margin-top: -10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    width: 80%;
}

.ocor-manha{
    background-color: #00ccd5;
    padding: 20px;
    width: 280px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.ocor-tarde{
    background-color: #ff8427;
    padding: 20px;
    width: 280px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.input-tittle{
    height: 35px;
    font-size: 16px;
    width: 450px;
    background-color: rgb(240, 240, 240);
    border: 0.5px solid #9e9e9e;
    border-radius: 5px;
}

.big-input{
    font-size: 16px;
    width: 99.9%;
    height: 200px;
    max-width: 99.9%;
    background-color: rgb(240, 240, 240);
    border: 0.5px solid #9e9e9e;
    border-radius: 5px;
}


.input-icon {
    padding-left: 30px;
    height: 40px;
    font-size: 16px;
    width: 250px;
    margin-right: 30px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}

.criar-ocor{
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 10px;
    width: 1980px;
    height: 425px;
    margin-top: -100px;
    margin-left: 10%;
    margin-right: 10%;
}

.add-ocor{
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 10px;
    width: 1980px;
    margin-top: -100px;
    margin-left: 10%;
    margin-right: 10%;
}

.square-model{
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    max-width: 220px;
}

.espaco{
    padding-bottom: 150px;
}

.square-tittle{
    background-color: rgb(196, 196, 196);
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-models{
    width: 170px;
    margin-top: 10px;
    margin-left: 25px;
}

.img-btn{
    float: inline-end;
    width: 20px;
}

.btn-ocor-white{
    background-color: #ffffff;
    padding: 2px;
    border-radius: 10px;
}

.btn-ocor-safe{
    background-color: #00ccd5;
    padding: 2px;
    border-radius: 10px;
}

.enviar-btn{
    border: 0px;
    background-color: rgb(224, 224, 224);
    color: #399dce;
    display: flex;
    justify-self: end;
    margin-top: 10px;
}